.add-show {
  width: 100%;
  background-color: var(--banner-color);
  color: var(--accent-white);
  margin: 0.25em 0;
  border: 1px solid var(--accent-red);
  border-radius: 0.25em;
  align-items: center;
}
.add-button {
  font-size: 1.5rem;
}
.hidden-form {
  visibility: collapse;
  height: 0;
}
select {
  font-size: 1.25em;
  margin: 0 0.25em;
}

/* Form Item Positioning */
.new-show-form {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  overflow: hidden;
}
.form-head {
  text-decoration: underline;
}
.form-head.show-title {
  grid-column: 1 / span 8;
  grid-row: 1 / span 1;
}
.form-input.show-title {
  grid-column: 1 / span 8;
  grid-row: 2 / span 1;
}
.form-head.show-site {
  grid-column: 1 / span 4;
  grid-row: 3 / span 1;
}
.form-select.show-site {
  grid-column: 1 / span 4;
  grid-row: 4 / span 1;
}
.form-head.show-day {
  grid-column: 5 / span 4;
  grid-row: 3 / span 1;
}
.form-select.show-day {
  grid-column: 5 / span 4;
  grid-row: 4 / span 1;
}
.form-head.show-start {
  grid-column: 1 / span 8;
  grid-row: 5 / span 1;
}
.form-input.show-start {
  grid-column: 2 / span 6;
  grid-row: 6 / span 1;
}
.form-head.show-eps {
  grid-column: 1 / span 8;
  grid-row: 7 / span 1;
}
.form-input.show-eps {
  grid-column: 2 / span 6;
  grid-row: 8 / span 1;
}
.submit-show-button {
  grid-column: 2 / span 6;
  grid-row: 9 / span 1;
}
.new-show-form input[type="submit"] {
  padding: 6px 10px;
  width: 100%;
}
.new-show-form input[type="number"] {
  font-size: 1.5em;
  padding: 3px 5px;
  width: 100%;
}
